.appFrame{
    margin: 0 auto;
    text-align: center;
}

.panelBody{
    overflow:hidden;
    height:3rem;
}

#userEmail:valid{
    border-color: green;
}
#userEmail:invalid{
    border-color:red;
}

.verifyPassClass{
    border-color:green;
}

.verifyFailedClass{
    background-color:red;
}

.inputLabelBlock{
    width: 1rem;
    display: block;
    margin:0 auto;
}

.inputLabelBlock label{
    /*display: inline-block;*/
    width: 0.7rem;
    /*text-align: right;*/
}

.inputLabelBlock input{
    border-color:green;
}
.signupBtn{
margin-top: 0.15rem;
}

.verifyDisplayNone{
. visibility:hidden;
}
.verifyDisplay{
    visibility: visible;
    display:inline-block;
    height:16px;
    width:16px!important;
}


.popup {
    position: fixed;
/*    width: 25%;
    height: 30%;*/
    width:230px;
    height:200px;
    /*top: 0;*/
    left: 0;
    right: 0;
    bottom: 50%;
    margin: auto;
    /*background-color: #AAB7B8;*/
    /*opacity:0.8;*/
    border-radius: 5%;
    text-align:center;
}
.popup_title{
    padding: 0.05rem;
    font-size: 20px;
    height: 40px;
    line-height:30px;
}
.popup_inner {
    position: absolute;
    text-align:center;
    width:100%;
    height:100%;
    padding:0.1rem;
    margin:0 auto;
}
.popup_btn {
    position: absolute;
    bottom: 60px;
    right:91px;
}

